 .head {
     background-color: #cccccc;

     margin-top: 30px;
 }

 table,
 th,
 tr,
 td {

     padding: 4px;
     margin: 30px;
 }

 .cellule {
     border: 1px solid #9d9d9d;
     width: 200px;
 }

 .cl {
     width: 300px;
 }

 .ull {
     float: right;
     margin-right: 25px;
 }

 .btnz {
     width: 150px;
 }

 .legend1 {
     margin-top: -24px;
     position: absolute;
     background-color: white;
     left: 10px;
     padding: 0 5px;
     width: fit-content;
     font-size: smaller;
     color: red;
     font-weight: bold;
 }

 .legend2 {
    margin-top: -24px;
    position: absolute;
    background-color: white;
    padding: 0 5px;
    width: fit-content;
    font-size: smaller;
    font-weight: bold;
    color: red;
}

 .ff {
     margin-bottom: 20px;
 }

 fieldset {
     padding: 10px;
 }